[Unit]
Description=Clock and Temperature
After=multi-user.target

[Service]
Type=idle
ExecStart=/root/pi_clock/piclock

[Install]
WantedBy=multi-user.target
