<!DOCTYPE html>
<html lang="en">
<head>
  <title>Weather conditions</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>
<body>

<div class="container">
  <h1>Graphing tool</h1>
  <p>Current values are:</p>
      <li>Inside: {{inside_temp|round(1)}}ºC
      <li>Humidity: {{humidity|round(1)}}%
      <li>Pressure: {{pressure}}mmHg
      <li>Outside: {{outside_temp}}ºC
      <li>CO2: {{co2}}ppm (<2000 expected)
      <li>TVOC: {{tvoc}}ug/m3 (<500 expected)
<hr>
<a href="/today">Today's graph</a> | <a href ="/stats">Modules status</a>
<hr>
<form method="POST">
	Please specify the timerange for graphing.<br><br>
	From <input name="date_from" placeholder='YYYY-MM-DD HH:MM'> to <input name="date_until" placeholder='YYYY-MM-DD HH:MM'> <input type="submit" value="Get graph!"><br>
	<input type="checkbox" name="air" value="True"> Include air quality
</form>

<hr>
</div>
</body>
</html>
