[Unit]
Description=Web graphing tool
After=multi-user.target

[Service]
Type=idle
ExecStart=/root/pi_clock/piclock_web.py

[Install]
WantedBy=multi-user.target
