[Unit]
Description=pi_clock Sensor poller
After=multi-user.target

[Service]
Type=idle
Restart=always
RestartSec=10
ExecStart=/root/pi_clock/piclock_poller.py

[Install]
WantedBy=multi-user.target
