[Unit]
Description=pi_clock Sensor poller
After=multi-user.target

[Service]
Type=idle
ExecStart=/root/pi_clock/piclock_poller.py
WatchdogSec=30s
Restart=on-failure
StartLimitInterval=4min
StartLimitBurst=3

[Install]
WantedBy=multi-user.target
